.titulo {
    text-align: center;
    border-radius: 3px;
    color: black;
    font-size: 25px;
    background-color: #fff;
    width: 50%;
    transform: translate(50%, 10%);
    box-shadow: 4px 4px 4px 4px black;
}

h5 {
    transform: translate(0%, -80%);

}

body {

    font-family: 'Times New Roman', Times, serif, sans-serif;
    padding: 0;
    background-color: #f5f5f5;
    color: #000000ce;
    background-size: cover;
    background-image: url("imagens/Rio-Grande-do-Sul-1111x740.jpg");
}

header {
    display: flex;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    color: #fff;
    padding: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 0%;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    transition: transform 200ms ease-in-out;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#info {
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    width: 30%;
    text-align: justify;
}

#comoAjudar {
    font-size: 20px;
}

#doacoes {
    font-size: 20px;
}

#coletaPontos {
    font-size: 20px;
}

.estilo {
    background-color: rgb(248, 246, 246);
    width: 25%;
    padding: 2%;
}

.estilo2 {
    background-color: rgb(9, 9, 9);
    width: 25%;
    padding: 2%;
}

.estilo3 {
    background-color: rgb(252, 252, 252);
    width: 25%;
    padding: 2%;
}

.estilo4 {
    background-color: rgb(12, 12, 12);
    width: 25%;
    padding: 2%;
}

.topo {
    background-color: rgb(5, 0, 0);
    margin-bottom: 40px;
    display: flex;
}

label {
    color: rgb(2, 2, 1);
}

.descricao-produto {
    font-size: 25px;
}

.limpeza {
    margin-left: 5%;
}

.higiene {
    margin-left: 5%;
}

.comidas {
    margin-left: 5%;
}